.url {
  width: 100%;
  padding: 20px;
  margin-top: 20px;
  border-radius: 6px;
  font-size: 1.3rem;
  display: inline-block;
  color: #fff;
  background-color: rgb(2, 218, 2);
}

.url::selection {
  background-color: rgba(0, 0, 0, .2);
  color: white
}